# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Entornos virtuales
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Variables de entorno
.env
.env.local

# Sistema
.DS_Store
Thumbs.db
